/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.card-header-date {
    float: right;
    margin: 20px 20px 0 0;
    border-radius: 50%;
    font-weight: bold;
    padding: 12px 12px;
    line-height: 15px;
    background-color: blue;
    z-index: 1;
}

.card-header-date-day {
    font-size: 18px;
}

.card-header-date-month {
    font-size: 11px;
}

.card-extra-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
}

.card-extra-text {
  width: auto;
  display: inline-block;
  margin: 0 10px;
}

.nav_img {
  display: block;
  margin: 0 auto;
}

.nav_title {
  display: inline-block;
  margin: 15px 10px;
}

.nav__input{
  margin: 0 10px !important;
  width: 200px !important;

}

.nav__button{
  margin: 0 10px !important;
}

.nav__inputs{
  position: absolute;
   bottom: 80px;
   right: 0;
}
